.triangle-right {
	position: absolute;
	top:30%;
	left:-66px;
	width: 0;
	height: 0;
	opacity: 0;
	border-top: 50px solid transparent;
	border-left: 66px solid #9592A9;
	border-bottom: 50px solid transparent;
}
.adcontainer{
	width:80%;
	padding:20px;
	opacity:0;
	padding-left: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	border-radius: 24px;
}
.adcontainerfail{
	width:80%;
	padding:20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	border-radius: 24px;
}
.imageadslist{
	max-height: 300px;
	margin-left: 20px;
	width:auto;
	max-width: 350px;
	display: inline;
}
#imageadscontainer{
	min-height:600px;
}
.imageadssolo{
	display: block;
	max-height: 600px;
	width:auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
}
.imageadsdisplayed{
	visibility: visible;
}
img.imageadshidden{
	visibility: hidden;
	height:0px;
}
.imgoops{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:600px;
}
.stuffseperator{
	position: relative;
	display: block;
	width: 80%;
	height: 6px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom: 20px; 
}
.mainadscontainer{
	width:80%;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: transparent;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.adstextcontainer{
	display: inline-block;
	width:50%;

}
.adstextcontainer > div{
	margin: 5px auto;
}
.adstextcontainersolo{
	position: relative;
	display: block;
	width: 60%;
	left: 20px;
	margin-bottom: 20px;
}
.adstextcontainersolo > div{
	margin: 10px auto;
}
.lazysolomargin{
	margin-top:5%; 
	margin-bottom: 5%;
}
div.adstextcontainer{
	position: absolute;
	top:20px;
	right:20px;
	max-width: 40%;
	max-height: 80%;
	overflow: scroll;
}
.link-container{
	position: relative;
	width:60%;
	display: flex;
	justify-content:center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.pagelink{
	background-color: white;
	color:black;
	border:0px;
	width:100%;
	padding: 8px;
	min-height: 60px;
	border-radius: 16px;
}
#adsimgmodal{
	position: relative;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	max-width: 300px;
}
.imageadssolomodal{
	height:50px;
	width: auto;
	border-radius: 4px;
	margin: 4px auto;
	opacity:.6;
}
.imageadssoloborder{
	border: 2px solid black;
}
#response{
	visibility: hidden;
	width:0;
	height:0;
}
#yesbye{
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
#yesbye:hover{
	color:red;
}
#yesbye a:before{
	background-color: red;
}
#nobye{
	-webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#nobye:hover{
	color:blue;
}
main{
	background-image: url("/img/site/sayagata-400px.png");
}