#mainnav{
	background-color: transparent;
	height:120px;
	width:100%;
	z-index:6;
	position:fixed;
	top:0px;
}
a{
	color:inherit;
	position: relative;
	text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.toplinks{
	display: block;
	position: relative;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}
.toplinkcenter{
	margin:12px 0px;
}
#titlestuff{
	display: block;
	position: relative;
	width:200px;
	height:120px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
}
#sitetitle{
	position: relative;
	bottom:0px;
}
#sitetitleimage{
	display: block;
	width:60px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
}
#navright {
	position: absolute;
	top:0px;
	left:-58px;
	width: 350px;
	height: 120px;
	-webkit-transform: skew(-45deg);
	   -moz-transform: skew(-45deg);
	     -o-transform: skew(-45deg);
	background: white;
}
#navbar{
	height:60px;
	width:100%;
	background-color: white;
	z-index: 2;
}
#toplinkscontainer{
	position: absolute;
	display: flex;
	width:40%;
	height: inherit;
	right:0px;
}
#searchtext{
	position: relative;
}
#searchcontainer{
	position: relative;
	top:15px;
}
#searchclose{
	position: relative;
	display: inline-block;
	bottom: 4px;
	border-bottom: 4px solid black;
}
#searchfield{
	min-width: 0px;
	display: inline-block;
	position: relative;
	max-width: 200px;
	padding-bottom: 4px;
	font-size:26px;
	bottom: 0px;
	border: 0px;
	border-bottom: 4px solid black;
}
#searchicon{
	position: relative;
	display: inline-block;
	width:30px;
	height:30px;
	bottom: -13px;
	padding-bottom: 8px;
	border-bottom: 4px solid black;
}
#areaclickout{
	visibility: hidden;
	position: fixed;
	width:100%;
	height:100%;
	top:60px;
	background-color: black;
	opacity: .6;
	z-index: 5;
}
#userecho{
	display: inline-block;
	position: absolute;
	left:300px;
}
#usertitle{
	margin-top: 12px;
}
	z-index: 10;
}